.home{
    width: 75vw;
    height: 100vh;
    background-color: #F7ECDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.homebottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 10vh;
    font-size: 1rem;
    font-weight: 600;
}

.img1{
    margin-top: 25vh;
    width: 35vw;
    height: 35vh;
}

.img2{
    width: 1.2vw;
    height: 1.2vw;
}

.p{
    margin: 0;
    font-weight: 500;
}

@media screen and (max-width:500px){
    .body{
        display: none;
    }
}